mat-sidenav-container {
  background-color: #f2f3f5;
}

.container {
  height: 100%;
}

.main_content {
  margin-left: 5%;
  width: 90%;
}

.route-text {
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 20px;
}

.route-text img {
  width: 20px;
  height: 20px;
}

.body-data {
  background-color: white;
  width: 90%;
}

.search-containter {
  height: auto;
  padding: 20px 50px 20px 50px;
}

.powered-by-container {
  display:flex;
}

.powered-by-container p {
  margin-right: 10px;
  opacity: 0.7;
}

.search-box {
  display: flex;
  margin-top: 30px;
}

.search-box-input {
  width: 45%;
  height: 50px;
  min-width: 200px;
  margin-right: 20px;
  border: 1px solid #cccbc8;
  border-radius: 8px;
  font-size: 20px;
  padding-left: 20px;
}

.search-box-input:focus {
  outline: none;
}

.search-text-btn {
  margin: 0px;
  border-radius: 10px;
  width: 15%;
  background-color: #2c8af8;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 56px; 
  font-size: 20px;
  cursor: pointer;
}

.notes-containter {
  display: flex;
  margin-top: 80px;
  width: 100%;
}

.notes {
  width: 250px;
  margin-right: 50px;
}

.notes p {
  font-size: 15px;
  opacity: 0.7;
}

.search-align {
  justify-content: center;
}

.result-summary {
  display: flex;
  width: 100%;
}

.result-number {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  opacity: 0.7;
  font-style: italic;
}

.product-data-containter {
  margin : 10px;
}
.data-containter {
  display: flex;
  border: 1px solid grey;
}

.data-containter .img img{
  width: 100px;
  height: 100px;
}
.title-container {
  flex-grow: 5;
}

.vendor-details {
  display: flex;
  align-items: center;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: black;
}

.vendor {
  color: orange;
  margin-right: 20px;
  cursor: pointer;
}

.supplier-container {
  background-color: #f2f3f5;
  border-width: 0px 1px 1px 1px; 
  border-style: solid;
  border-color: grey;
}

.supplier-container p{
  padding-left: 10px;
  display: inline-block;
  width: calc(100%-2px);
}

.zippy-container {
  display: flex;
  justify-content: space-between;
  background-color: #f2f3f5;
  width: 100%;
}

.ul-product-details, .ul-supplier-details {
  list-style-type:none;
  display: table;
  padding: 0px;
}

table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

.product-details, .supplier-details {
  margin: 10px;
  flex-basis: 50%;
}

.li-product-details, .li-supplier-details {
  display: table-row;
  margin: 10px;
}
.attr-name {
  display: table-cell;
  padding: 5px;
}
