<div class="sidenav_container">
	<div (mouseenter)="showFullNav()" (mouseleave)="showhalfNav()">
		<mat-nav-list [ngClass]="{'active': currenPage === 'resources'}">
			<a mat-list-item [routerLink]="['/resources']">
				<img src="./../../../assets/images/resources.svg" alt="">
				<span
				[@animateText]="_showPushNav ? 'show' : 'hide'"
				>Resources</span>
				<span 
				[@animateText]="onHover ? 'show' : 'hide'"
				>Resources</span>
			</a>
		</mat-nav-list>
		<mat-nav-list [ngClass]="{'active': currenPage === 'productSourcing'}">
			<a mat-list-item [routerLink]="['/productSourcing']">
				<img src="./../../../assets/images/product sourcing.svg" alt="">
				<span 
				[@animateText]="_showPushNav ? 'show' : 'hide'"
				>Product Sourcing</span>
				<span 
				[@animateText]="onHover ? 'show' : 'hide'"
				>Product Sourcing</span>
			</a>
		</mat-nav-list>
	</div>
</div>
